<div>
  <h2>Test of Section</h2>
  <select id="section_skill" [(ngModel)]="selectedValue" >
    <option value="a">Select one</option>
    <option *ngFor="let opt of sectionsTittle" [ngValue]="opt.key">{{opt.value}}</option>
  </select>
  <div class="form-row">
    <button type="button" (click)="addi()" >Save</button>
  </div>
  <div *ngIf="section" [ngSwitch]="section.key">

    <comp_skill *ngSwitchCase="'skill'" [(id)]="section.key" [(section)]="section" [key]="section.key"></comp_skill>

    <comp_profile *ngSwitchCase="'profile'" [(id)]="section.key" [(section)]="section" [key]="section.key"></comp_profile>

  </div>
  <div *ngFor = "let new_section of sections">
    <section-item [section]="new_section"></section-item>
  </div>
</div>
