<div>
  <div>
    <h2>{{section.tittle}}</h2>
  </div>
  <div>
    <h4>{{section.nameSection}}</h4>
    <button>Edit</button>
    <button>-</button>
  </div>
  <div>
    {{section.descriptionSection}}
  </div>
</div>
