<form *ngIf="key=='profile'" #section_profile="ngForm">
  <div>
    <h2>Edit profile</h2>
    <span>Full name</span>
    <div>
      <input name="name_profile" [(ngModel)]="section.fullName" type="text" class="profile_class" id="id_name_profile"/>
    </div>
    <span>Email</span>
    <div>
      <input name="email_profile" [(ngModel)]="section.email" type="text" class="profile_class" id="id_email_profile"/>
    </div>
    <span>Phone</span>
    <div>
      <input name="phone_profile" [(ngModel)]="section.phone" type="text" class="profile_class" id="id_phone_profile"/>
    </div>
    <div>
      <input (click)="aceptSection()" name="save_profile" type="button" class="button" id="save_profile" value="Save" />
      <input (click)="cancelSection()" name="cancel_profile" type="button" class="button" id="cancel_profile" value="Cancel" />
    </div>
  </div>
</form>
