<form *ngIf="key=='skill'"  #section_skill="ngForm">
  <div>
    <span>Add skill</span>
    <div>
      <input [(ngModel)]="section.nameSkill"  name="name_skill" type="text" class="skill_class" id="id_name_skill"/>
    </div>
    <span>Description</span>
    <div>
      <textarea  [(ngModel)]="section.descriptionSkill" name="description_skill" cols="45" rows="5" class="description_class" id="id_description_class"></textarea>
    </div>
    <div>
      <input type="range" name="strong_skill"  min="1" max="10" [value]="valor" [(ngModel)]="section.strength"/>
    </div>
    <div>
      <input (click)="aceptSectionSkill()" name="save_skill" type="submit" class="button" id="save_skill" value="Save" />
      <input (click)="cancelSectionSkill()" name="cancel__skill" type="button" class="button" id="cancel_skill" value="Cancel" />
    </div>
  </div>
</form>
